<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Edit your chat <%=chat.id%></p>
    <p>From:<%=chat.from%> to <%=chat.to%> </p>

    <form method="post" action="/chats/<%=chat.id%>?_method=PUT">
        <textarea name="msg" rows="10" coloumns="50"><%=chat.msg%></textarea>
        <button>Edit</button>
    </form>
</body>
</html>