<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>
    
        <form method="get" action="/chats/new">
            <button>Add One</button>
        </form>
        <br>
        <br>
    <%for(chat of chats){%>
     
    <div class="single">
        <P>From:<b><%=chat.from%></b></P>
        <P>To:<b><%=chat.to%></b></P>
        <div class="para">
             <P>messege:<%=chat.msg%></P>
             <form method="get" action="/chats/<%=chat.id%>/edit">
                <button>Edit</button>
             </form>
             <br>
              <form method="post" action="/chats/<%=chat.id%>?_method=DELETE">
                <button>Delete</button>
             </form>

               <form action="/chats/<%=chat.id%>" method="get" >
                <button>Show</button>
             </form>
        </div>
        <p><%=chat.created_at.toString().split(" ")[4]%></p>
        <p><%=chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
       <hr>
    </div>
  
    <br>
    <br>
<%}%>
</body>
</html>

